name: Android CI

on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - '**'
  workflow_dispatch:
    inputs:
      build_variant:
        description: 'Build Variant (debug or release)'
        required: true
        default: 'debug'
        type: choice
        options:
          - debug
          - release
      upload_apk:
        description: 'Upload APK artifact'
        required: true
        default: false
        type: boolean

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17
          cache: gradle

      - name: Set up Android SDK
        uses: android-actions/setup-android@v3

      - name: Install Android SDK components
        run: |
          yes | sdkmanager --licenses
          sdkmanager --install "platform-tools" "platforms;android-35" "build-tools;35.0.0"

      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Build APK
        run: |
          if [[ "${{ github.event_name }}" == "workflow_dispatch" && "${{ inputs.build_variant }}" == "release" ]]; then
            ./gradlew assembleRelease
          else
            ./gradlew assembleDebug
          fi

      # - name: Run Lint
      #   run: ./gradlew lintDebug

      # - name: Run Unit Tests
      #   run: ./gradlew testDebugUnitTest

      - name: Upload APK artifact
        if: github.ref == 'refs/heads/main' || inputs.upload_apk == true || inputs.build_variant == 'release'
        uses: actions/upload-artifact@v4
        with:
          name: ${{ (inputs.build_variant == 'release') && 'RSSBStream-release-optimized-signed-with-debug-key' || 'RSSBStream-debug-apk' }}
          path: ${{ (inputs.build_variant == 'release') && 'app/build/outputs/apk/release/app-release.apk' || 'app/build/outputs/apk/debug/app-debug.apk' }}
